{% block body %}
    <h1>Commits</h1>
    <ul>
        {% for commit in commits %}
            <li>
                <a href="{{ url_for('commit', branch_id=commit.branch_id, commit_id=commit.id) }}">
                    {{ commit.id }}
                </a>
            </li>
            <li>Description: {{ commit.message }}</li>
            <li>Created at: {{ commit.timestamp }}</li></br>
        {% else %}
            <li>No commits.</li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('index') }}"> Return to index</a></br>


{% endblock %}